{
 "actions": [],
 "allow_import": 1,
 "allow_rename": 1,
 "autoname": "naming_series:",
 "creation": "{{TIMESTAMP}}",
 "custom": 0,
 "doctype": "DocType",
 "editable_grid": 1,
 "engine": "InnoDB",
 "field_order": [
{{FIELD_ORDER_JSON}}
 ],
 "fields": [
{{FIELDS_JSON}}
 ],
 "index_web_pages_for_search": 1,
 "is_submittable": {{IS_SUBMITTABLE}},
 "links": [],
 "modified": "{{TIMESTAMP}}",
 "modified_by": "Administrator",
 "module": "Custom Erp",
 "name": "{{DOCTYPE_NAME}}",
 "naming_rule": "By \"Naming Series\" field",
 "owner": "Administrator",
 "permissions": [
{{PERMISSIONS_JSON}}
 ],
 "row_format": "Dynamic",
 "sort_field": "creation",
 "sort_order": "DESC",
 "states": [],
 "title_field": "{{TITLE_FIELD}}",
 "track_changes": 1
}